{% load static %}    
{% load humanize %} 
<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2"> {{namedasteh}}  </span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
       {% for l in  listpruduct %}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                   {% if l.price != l.takhfif %}     
                     <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">تخفیف ویژه</div>
                   {% endif %}
                    
                     <img class="img-fluid w-100" src="{{l.picture.url}}" alt="">
                   </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{l.name}}</h6>
                  {% if l.price == l.takhfif %}     
                    <div class="d-flex justify-content-center">
                        <h6>{{l.price|intcomma}}</h6>
                    </div>
                   {% else %}
                    <div class="d-flex justify-content-center">
                        <h6>{{ l.takhfif|intcomma }}</h6><h6 class="text-muted ml-2"><del>{{l.price|intcomma}}</del></h6>
                    </div>
                    {% endif %}
                  
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>جزيیات</a>
                    <a href="/customer/addsabad?id={{l.pk}}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i> افزودن به سبد  </a>
                </div>
            </div>
        </div>
        {% endfor %} 
    </div>
</div>
<!-- Products End -->
